IDEA_ANADIR_A_RULETA.txt
link.txt
mismesa.txt
TECNICA_FINAL_CASINO.txt
casinos_tao.png
estrategia_plan.png
full_video.mp4
gale21.mp4
personal_gale21.mp4
playing_gale21.mp4
roulette_know.mp4
en_vivo.mkv
colocacion.mkv
/gale21BOT/
/env/
__pycache__/
estrategia_plan.drawio
estrategia_plan2.drawio