{% extends 'layout.html' %}
{% block note %}<br><span style='font-size:8px;'>by craazybones</span>{% endblock %}
{% block content %}
	<div class='container-fluid text-center' style='width:100%;margin-bottom:10px;margin-top:10px'>
		<div class='container-fluid' style='margin-top:10px'>
			<a href='/casino' style='color:white;text-decoration:none'>
				<span><img src="{{ url_for('static', filename='img/tao_let.png') }}" alt='TAO' width=100></span><span class='arrow col-md-12' style='font-size:10px;font-family: "OCR-A", monospace;'> </span>
			</a>
		</div>
		<div class='container-fluid row' style='margin:0px;padding:0px;margin-bottom:10px'>
			<div class='flex-container' style='padding:0px;margin:0px'>
				<button type='button' class='tao_menu btn btn-outline-light text-primary' style='border:none;'>
					<a href='/casino' style='font-size:13px;font-family: "OCR-A", monospace;'> Inicio</a>
				</button>
				<button type='button' class='tao_menu btn btn-outline-light text-primary' style='border:none;'>
					<a href='/signup_page' style='font-size:13px;font-family: "OCR-A", monospace;'> Registro</a>
				</button>
				<button type='button' class='tao_menu btn btn-outline-light text-primary' style='border:none;'>
					<a href='/help' style='font-size:13px;font-family: "OCR-A", monospace;'> Informaci&oacute;n</a>
				</button>
			    {% if session.token %}
					<button type='button' class='tao_menu btn btn-outline-light text-primary' style='border:none;'>
						<a href='/roulettes' style='font-size:13px;font-family: "OCR-A", monospace;'> Roulettes</a>
					</button>
					<button type='button' class='tao_menu btn btn-outline-light text-info' style='border:none;'>
						<a href='/reports' style='font-size:13px;font-family: "OCR-A", monospace;'> Reportes</a>
					</button>
					<button type='button' class='tao_menu btn btn-outline-light text-danger' style='border:none;'>
						<a href='/history' style='font-size:13px;font-family: "OCR-A", monospace;'> Hist&oacute;rico</a>
					</button>
					<button type='button' class='tao_menu btn btn-outline-light text-danger' style='border:none;'>
						<a href='/withdraw' style='font-size:13px;font-family: "OCR-A", monospace;'> Retiro</a>
					</button>
					<button type='button' class='tao_menu btn btn-outline-light text-danger' style='border:none;'>
						<a href='/deposit' style='font-size:13px;font-family: "OCR-A", monospace;'> Dep&oacute;sito</a>
					</button>
					<button type='button' class='tao_menu btn btn-outline-light text-danger' style='border:none;'>
						<a href='/logout' style='font-size:13px;color:red;font-family: "OCR-A", monospace;'> Salir</a>
					</button>
			    {% endif %}
			</div>
		</div>
	</div>
	{% if session.token %}
		<div class='container-fluid' style='margin-top:10px;display:flex;padding:0px'>
			<span class='badge bg-primary' style='caption-side: top;font-size:10px;font-family: "OCR-A", monospace;cursor:pointer'>{{session['username']}} {{session['userlastname']}} | {{session['affiliate_code']}}</span>
		</div>
	{% endif %}
	<hr class='border border-success'>
	<div class='container-fluid col-md-5 col-lg-5 col-sm-12'>
		<form method='POST' action='/auth' class='was-validated form-control' style='background-color:transparent'>
			<div class='container-fluid'>
				<div class='row' style='margin-top:10px'>
					<div class='col-md-2'>
						<label for="affiliate_code" class="form-label">Usuario</label>
					</div>
					<div class='col-md-10'>
					    <input type="text" class="form-control" id="affiliate_code" placeholder="C&oacute;digo afiliado" name="affiliate_code" required>
					    <div class="valid-feedback">V&aacute;lido.</div>
					    <div class="invalid-feedback">Por favor, rellene el campo</div>
					</div>
				</div>
				<div class='row' style='margin-top:10px'>
					<div class='col-md-2'>
						<label for='pwd' class='form-label'>PIN</label>
					</div>
					<div class='col-md-10'>
					    <input type='password' class='form-control' id='pwd' placeholder='Digite su PIN' name='pwd' required>
					    <div class='valid-feedback'>V&aacute;lido.</div>
					    <div class='invalid-feedback'>Por favor, rellene el campo</div>
					    <button type='submit' class='btn btn-outline-secondary'>Autenticar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class='container-fluid' style='height:50px'></div>
{% endblock %}