{% extends 'layout.html' %}
{% block content %}
	{% if session.token %}
		<div class='container-fluid' style='margin-top:10px;display:flex;padding:0px'>
			<span class='badge bg-primary' style='font-size:11px;margin:2px;font-family: "OCR-A", monospace;cursor:pointer'>{{session['username']}} {{session['userlastname']}} | {{session['affiliate_code']}}</span>
			<span class='badge bg-dark' style='font-size:11px;margin:2px;font-family: "OCR-A", monospace;cursor:pointer;' data-bs-toggle='offcanvas' href='#offcanvas_menu' role='button' aria-controls='offcanvas_menu' >Men&uacute;</span>
		</div>
	{% endif %}
	<hr class='border border-danger'>
	<div class='container-fluid'>
		<div class='alert alert-info'>
  			<strong>Autenticaci&oacute;n!</strong> Es requerido que est&eacute;s autenticado en la aplicaci&oacute;n.
  			<a href='/login_page' style='font-size:13px;font-family: "OCR-A", monospace;'> <br>Acceder ahora</a>
		</div>
	</div>
	<div class='container-fluid' style='height:50px'></div>
{% endblock %}